<form method="post">
    <p>Выберите задачу для обновления: <select name="select">
        {% for task in Tasks %}
        <option value={{ task.id }}>{{ task.task }}</option>
        {% endfor %}
    </select>
    </p>
    <p>Обновленная задача: <input required type="text" name="task"></p>
    <p>Дата начала: <input required type="date" min="2000-01-01" max="2050-12-31" name="startdate"></p>
    <p>Контрольный срок: <input required type="date" min="2000-01-01" max="2050-12-31" name="deadline"></p>
    <p><input type="submit" value="Обновтить задачу"></p>
    {% csrf_token %}
</form>